@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Noto Sans HK', system-ui, sans-serif;
  background-color: #F6FFF8;
  margin: 0;
  padding: 0;
}

#app {
  min-height: 100vh;
}